{% include 'movies/header.html' %}
<h1>Edit</h1>

{% for movie in movies %}
<div class="card">
    <div class="card-header">Edit Movie</div>
    <div class="card-body">
        <h5 class="card-title">Movie data</h5>
        <p class="card-text">
            <form method="post" action="/update" enctype="multipart/form-data">
                <input type="hidden" value="{{ movie[0] }}" name="txtId" id="txtId">
                <div class="form-group">
                    <label for="txtName">Name</label>
                    <input id="txtName" class="form-control" type="text" name="txtName" value="{{ movie[1] }}">
                </div>
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <input id="txtDescription" class="form-control" type="text" name="txtDescription" value="{{ movie[2] }}">
                </div>
                <div class="form-group">
                    <label for="txtPoster">Poster</label>
                    <img class="img-thumbnail" width="200" src="{{url_for('uploads', posterName=movie[3]) }}" alt="">
                    <input id="txtPoster" class="form-control" type="file" name="txtPoster"">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Modify">
                    <a href="{{url_for('index')}}" class="btn btn-primary">Back</a>
                </div>
            </form>
        </p>
    </div>
</div>


{% endfor %}
{% include 'movies/footer.html' %}