{% include 'movies/header.html' %}
<br>
        <a href="{{url_for('create')}}" class="btn btn-success" style="float: right;">Add new movie</a>
        <h1>Movies I've watched in 2022</h1>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Poster</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie[0] }}</td>
                    <td>{{ movie[1] }}</td>
                    <td>{{ movie[2] }}</td>
                    <td>
                        <img class="img-thumbnail" width="200" src="uploads/{{ movie[3] }}" alt="">
                    </td>
                    <td><a class="btn btn-warning" href="/edit/{{movie[0]}}">Edit</a>  <a class="btn btn-danger" onclick="return confirm('Do you want to delete this movie?')" href="/destroy/{{movie[0]}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% include 'movies/footer.html' %}